/* General Styles */
body {
    margin: 0px;
    background-color: rgb(26, 83, 25);
}

/* Nav Styles */
nav {
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-color: rgb(244, 255, 195);
    color: white;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav p, nav a{    
    margin: 10px;
    font-family: 'Kosugi Maru', sans-serif;
    text-decoration: none;
}

nav h1 {
    flex-basis: 100%;
    font-family: 'Agbalumo', serif;
}

nav a {
    color: rgb(191, 137, 209);
    display: block;
    margin-bottom: 20px;
}

nav a:hover {
    color: white;
    font-style: italic;
}

/* Footer Styles */
footer {
    color: white;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-color: rgb(244, 255, 195);
    margin: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Kosugi Maru', sans-serif;
}

footer a {
    color: rgb(191, 137, 209);
    text-decoration: none;
}

footer a:hover {
    color: white;
    font-style: italic;
}

/* Splash Section */
.splash {
    background-color: rgb(62, 123, 39);
    margin: 20px;
    border-radius: 5px;
}

.splash h1 {
    color: white;
    margin: 15px;
    padding-top: 10px;
    font-family: 'Agbalumo', serif;
    font-size: xx-large;
}

.splash img {
    width: 150px;
    border-style: hidden;
    padding-top: 10%;
    padding-left: 12%;
}

.splash p {
    margin: 2%;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: large;
}

/* Horizontal Rules */
hr {
    border-style: hidden;
    border-width: 10px;
}

/* Sections */
section {
    color: white;
    margin: 2%;
}

/* Section Headings */
section h2 {
    color: white;
    font-family: 'Agbalumo', serif;
    font-size: x-large;
}

/* Paragraph Styles */
section p {
    color: white;
    margin-left: 2%;
    font-family: 'Kosugi Maru', sans-serif;
}

/* link styles */
section a {
    color: rgb(191, 137, 209);
    font-family: 'Kosugi Maru', sans-serif;
    text-decoration: none;
}
section a:hover {
    color: white;
    font-style: italic;
}

/* List Styles */
ul {
    color: white;
    font-family: 'Kosugi Maru', sans-serif;
    list-style: circle;
}

dl {
    color: white;
    font-family: 'Kosugi Maru', sans-serif;
    display: grid;
}
dl dt{
    color: white;
    margin-left: 2%;
    font-family: 'Kosugi Maru', sans-serif;
}
dl dd{
    color: white;
    font-family: 'Kosugi Maru', sans-serif;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 2px 16px;
    background-color: rgb(62, 123, 39);
    margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
}

.card h3 {
    font-family: 'Agbalumo', serif;
}

/* Contact Page Styles */
.one-col {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form {
    color: white;
    font-family: 'Kosugi Maru', sans-serif;
}

form input, form textarea, button {
    width: 40%;
    margin-left: 20px;
    font-family: 'Kosugi Maru', sans-serif;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(18, 53, 36);
}

form input:focus, form textarea:focus {
    color: rgb(68, 23, 82);
    border-color: rgb(68, 23, 82);
}

form button:hover {
    cursor: pointer;
    color: rgb(68, 23, 82);
    border-color: rgb(68, 23, 82);
}

.kosugi-maru-regular {
    font-family: "Kosugi Maru", serif;
    font-weight: 400;
    font-style: normal;
  }
  .agbalumo-regular {
    font-family: "Agbalumo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .stamp-border {
    /* Change this value to adjust the stamp perforation size: */
    --radius: 8px;
  
    background-image: 
      radial-gradient(
        var(--radius),
        transparent 98%,
        white
      ),
      linear-gradient(white 0 0);
    background-repeat: 
      round, 
      no-repeat;
    background-position:
      calc(var(--radius) * -1.5) calc(var(--radius) * -1.5),
      50%;
    background-size:
      calc(var(--radius) * 3) calc(var(--radius) * 3),
      calc(100% - var(--radius) * 3) calc(100% - var(--radius) * 3);
  }
  
  /*  Cosmetic styles */
  
  .stamp-border {
    width: 200px;
    height: 200px;
    inset: 0;
    margin: 25px;
  }